body {
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
    margin: 0;
}


input {
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    padding: 3px 5px;
    font-size: 16px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

form {
    width: 500px;
}

.btn {
    margin: 20px 0;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    line-height: 1;
    height: inherit;
    cursor: pointer;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.errors  li {
    color: red;
    margin-bottom: 10px;
}