* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
    margin: 0;
}


input {
    height: 40px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    padding: 3px 5px;
    font-size: 16px;
    border:2px solid #888;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

form {
    width: 550px;
    margin: 25px auto;
    background: rgba(238, 238, 238, 0.4);
    padding: 25px 50px;
}

form span {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

.btn {
    margin: 20px 0;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    line-height: 1;
    height: inherit;
    cursor: pointer;
    background: #009744;
    border:2px solid #009744;
    color: #fff;
    border: none;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.errors  li {
    color: red;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}